@charset "utf-8";
.uploader-button {
	display: inline-block;
	margin: 12px;
	border: 1px solid #ccc;
	background-color: #fff;
	line-height: 24px;
	border-radius: 4px;
	padding: 0 18px;
	font-size: 12px;
	font-weight: 400;
	font-family: '微软雅黑';
	color: #333;
	cursor: pointer;
	text-decoration: none;
}

.uploader-button:hover {
	background-color: #e0e0e0;
}

.uploadfile {
	width: 0;
}

.uploader-queue .uploader-queue-item {
	list-style-type: none;
	margin-top: 10px;
}

.uploadbtn,.delfilebtn {
	display: inline-block;
	border: 1px solid #999;
	line-height: 24px;
	border-radius: 4px;
	padding: 0 18px;
	font-size: 12px;
	color: #666;
	cursor: pointer;
	text-decoration: none;
}

.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent,.totalsize {
	font-size: 12px;
	color: #666;
	margin-left: 10px;
}
.progressnum .totalsize{
	margin-left:0
}
.uploader-progress {
	display: inline-block;
	width: 600px;
	height: 10px;
	background-color: #f5f5f5;
	border-radius: 4px;
	border: 1px solid #f2f2f2;
	vertical-align: middle;
	padding: 0;
}

.uploader-progress-bar {
	width: 0;
	height: 100%;
	border-radius: 4px;
	background-color: #31b0d5;
}

.zUploader-modal-container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: fixed;
	z-index: 6000;
	left: 0;
	top: 0;
}

.zUploader-modal-mask {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	background-color: #000;
	filter: alpha(opacity=50);
}

.zUploader-modal-content {
	width: 300px;
	position: fixed;
	left: 50%;
	top: 50%;
	border: solid 1px #b8b8b8;
	overflow: hidden;
	background: #fff;
	font-family: "微软雅黑";
	margin-left: -150px;
	border-radius: 6px;
}

.zUploader-modal-header {
	height: 40px;
	line-height: 40px;
	background: #fff;
	color: #51569e;
	overflow: hidden;
	border-bottom: 1px #ccc solid;
	position: relative;
}

.zUploader-modal-body {
	min-height: 50px;
	background: #fff;
	font-size: 12px;
	padding: 10px;
	overflow-y: auto;
	overflow-x: hidden;
}

.zUploader-modal-footer {
	min-height: 30px;
	text-align: center;
	padding: 8px 10px;
	border-top: 1px solid #ccc;
}

.zUploader-modal-title {
	font-size: 14px;
	padding-left: 10px;
	font-weight: bold;
}

.zUploader-modal-btn {
	color: #51569e;
	border: 1px #ccc solid;
	border-radius: 3px;
	cursor: pointer;
	font-size: 12px;
	height: 30px;
	margin: 0 5px;
	padding: 0 30px;
	font-weight: 700;
}