<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sms.ValidateCodeMapper">
	<select id="findByPhone" resultType="sms.ValidateCodeBean">
		SELECT * FROM t_validate_nout WHERE phone_num=#{_parameter} 
	</select>
	<delete id="delByPhone">
		DELETE FROM t_validate_nout WHERE phone_num=#{_parameter} 
	</delete>
	<!-- 新增 -->
	<insert id="add">
		INSERT INTO 
			t_validate_nout(
			phone_num,vCode)
		VALUES(
		#{phoneNum},
		#{vCode}
		)
	</insert>
	<delete id="delAll">
		DELETE FROM t_validate_nout
	</delete>
</mapper>